.card-body {
  /* border-radius: 20px; */
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.area-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.area-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.btn {
  padding: 0 0 0 30px
}

.locations {
  width: 200px
}

.btn-primary,
.navbar-nav.btn-outline-success {
  background: #faeaeb;
  border: none;
  border: solid 1px #faeaeb;
  border-radius: 8px;
  margin: 4px;
  color: #df678c;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* On mouse-over, add a grey background color */
.area-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.area-container input:checked ~ .checkmark {
  background-color: #DF678C;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.area-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.area-container .checkmark:after {
  top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
  background: white;
}

.search-btn-box {
  text-align: center;
  padding: 10px 0 10px 0
}

/* .input-group-text {
  background: ;
} */

.message {
  text-align: center;
  padding: 15px 0 15px
}

.hidden{
  display:none;
}

.area-text {
  color: #DF678C
}

