#board {
  width: 90%;
  height: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.card {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 30%);
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: calc(50% - 50px);
  left: 50%;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  transform: translateX(-50%) translateY(-50%) scale(0.95);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 0 0 0 0;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}

.outer-container {
  min-height: 700px;
}

.surface {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

/* @media only screen and (min-width: 768px){
  .card {
      max-width: 375px;
      height: 667px;
      max-height: calc(80vh - 99px);
      }
    } */

.cardbtndiv {
  position: relative;
  top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  height: 100px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #fcf3f8 0%, #fffcff 74%);
}

.restinfo {
  position: absolute;
  left: 0px;
  margin-left: 1rem;
  color: white;
  font-size: 20px;
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
  padding-bottom: 1rem;
  text-align: left;
}


.infobtn {
  background: none;
  border: none;
  color: #df678c !important;
  font-size: 2rem;
  position: absolute;
  right: 5px;
  z-index: 2;
}

.moreinfocard {
  height: 0px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 16px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 10px;
  /* padding: 15px; */
}

.title {
  padding: 30px;
}

.notshow {
  height: 0px;
  overflow: hidden;
  animation: slideout 1s ease 0s forwards;
}

.card .show {
  height: 100px;
  overflow: hidden;
  animation: slidein 1s ease 0s forwards;
}

.restRate {
  padding: 2px 0 2px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 !important;
}

.restname {
  margin-top: 20px;
}

.moreinfocard div {
  margin-left: 10px;
  /* margin-right: 20px; */
}

.col-sm-2, .col-sm-10 {
  padding: 0;
}

.smile-face, .cry-face {
  width: 50px;
}

@keyframes slideout {
  from {
    height: 300px;
  }
  to {
    height: 0px;
  }
}

@keyframes slidein {
  from {
    height: 0px;
  }
  to {
    height: 300px;
  }
}

.dislikebtn,
.skipbtn,
.likebtn:focus {
  outline: none !important;
  box-shadow: none;
}

.dislikebtn {
  width: 4rem;
  height: 4rem;
  text-align: center;
  border: 2px solid #a51540;
  border-radius: 50px;
  background: #a51540
}

.likebtn {
  width: 4rem;
  height: 4rem;
  text-align: center;;
  border-radius: 50px !important;
}

.skipbtn {
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 50px !important;
}

.formOpenrice {
  display: flex;
  justify-content: center;
}

.moreinfocard input {
  color: #faeaeb;
  background: #df678c;
  border: solid 2px rgb(196, 5, 94);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  
}

@media screen and (max-width: 480px) {
  .card .show {
    min-height: 64vh;
    overflow: hidden;
    animation: slidein 1s ease 1s forwards;
  }
  .moreinfocard{
    display: flex;
    flex-wrap: wrap;
    
  }
  .moreinfocard div {
    margin-top: 3px;
  }
}

