html, body {
    min-height: 100%;
}


body{
    min-height: 100%;
    max-width: 100vw;
    background: linear-gradient(45deg, #FFC964 50%, #06C4CE 50%);
    color: #FFFFFF;
}

a{
    color: inherit;
}


.cont{
    max-width:90vw;
    min-height:90vh;
    background-color: white;
    box-shadow: 0 0 30px grey;
    margin-top:5vh;
    box-sizing:content-box;
    padding:0;
    display:flex;
    flex-direction: column;
    Overflow: hidden;
}



.bar{
    width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler{
    border:0px;
}



@keyframes button {
    from {background-color: rgb(236, 236, 236);}
    to {background-color: white;}
}

#menu-toggle-div{
    font-size: 30px;
}


.hidden{
    margin-left: -305px;
}

@media screen and (max-width: 768px) {
    .character {
        margin: 0 auto 0 auto !important;
    }  
    .navbar {
        display: contents;
        justify-content: center;
        text-align: center;
    }
}

#menu-toggle-div{
    font-size: 30px;
    margin-right: 1rem;
}

#logo {
    max-height:90vh;
}

.cont > .container-fluid {
    background-image: url('./wallpaper-bg.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

.main{
    text-align: center;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.719);
    height: fit-content;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px grey;
    text-shadow: 2px 3px 1px lightgrey;
}

.head{
    font-size: 50px;
    font-weight: 500;
    color: rgb(109, 109, 109);
}

.message{
    font-size: 30px;
    color: rgb(109, 109, 109);
}



